.theme-dark .avatarUploaderIndicator-2G-aIZ {
    display: none;
} /* Removes the useless icon in settings when uploading an avatar*/
.avatarUploaderInner-2EvNMg {
    border-radius: unset;
} /* Makes avatar in settings square*/
.background-1QDuV2 {
    border-radius: 20px;
} /* Changes the border raidius of the user card*/
.message-2qnXI6 .header-23xsNx span:last-child {
    user-select: text;
  }
  /* why do usernames have a scrollbar now??? whatever, fix that */
span.headerTagUsername-1rEZ3Z {
    overflow-y:hidden!important;
  }
  /* inb4 this is some stupid obscure shit with my plugins/css who fucking cares
  i'm fixing it anyway and releasing the snippet */
  /* also fix the width because for some reason this is now an issue */
  .userPopout-3XzG_A {
    width:500px!important;
  }
  /* center premium banners or do something with them to look less stupid */
  .headerNormal-1l1Znk .profileBannerPremium-35utuo {
    margin:auto;
  }
  :root{--user-modal-avatar-size:230px; --blur-the-things: 0px}
.root-3QyAh1 .body-r6_QPy .listScroller-3GmIYj{padding-left:45px;margin-bottom:20px!important; margin-top: 10px;}
.root-3QyAh1 .body-r6_QPy .listScroller-3GmIYj .listRow-1iDGel{display:inline-table; align-content: center; justify-content: center; text-align: center;}
.root-3QyAh1 .listScroller-3GmIYj .mask-1l8v16.svg-2V3M55,.listRow-1iDGel .listAvatar-1BbvHX.wrapper-3t9DeA{filter:blur(var(--blur-the-things));width:calc(var(--user-modal-avatar-size) * 1/3)!important;height:calc(var(--user-modal-avatar-size) * 1/3)!important}
.root-3QyAh1 .listScroller-3GmIYj .listRow-1iDGel .iconSizeMedium-2OqPjI{filter:blur(var(--blur-the-things));width:calc(var(--user-modal-avatar-size) * 1/3)!important;height:calc(var(--user-modal-avatar-size) * 1/3)!important}
.root-3QyAh1 .listScroller-3GmIYj .listName-U3shDM,.root-3QyAh1 .listScroller-3GmIYj .listRowContent-i8Bizk{margin-top:2px;display:none}
.listRow-1iDGel:hover{background-color:transparent}